
[V200R003C00]
#
 sysname RO
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load flash:/portalpage.zip
#
 drop illegal-mac alarm
#
vlan batch 111
#
 wlan ac-global carrier id other ac id 0
#
 set cpu-usage threshold 80 restore 75
#
vlan 111
 description SRV-A1
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
firewall zone Local
 priority 15
#
interface GigabitEthernet0/0/0
 description SPINE-GE1/0/0
#
interface GigabitEthernet0/0/0.111
 description SRV-A1
 dot1q termination vid 111
 ip address 10.105.150.1 255.255.255.252 
 arp broadcast enable
#
interface GigabitEthernet0/0/0.333
 description SRV-C1
 dot1q termination vid 333
 ip address 10.104.141.1 255.255.255.252 
 arp broadcast enable
#
interface GigabitEthernet0/0/1
#
interface GigabitEthernet0/0/2
#
interface NULL0
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
user-interface vty 16 20
#
wlan ac
#
return